@import "reset";
@import 'variables';

@font-face {
  font-family: var(--font-family);
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/SB Sans Interface.woff2') format("woff2")
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  font: var(--font-m);
  background: var(--body-bg-color);
  color: var(--black-50);
}

.page-content{
  //min-height: 100vh;
  //flex: 1;
  //padding: 20px;
}