.Header {
  background-image: url("../../../assets/img/asd.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}