.error_search{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.MainPage {
  padding: 20px;
  .title{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  }
  .wrapper_bookCard{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 20px;

  }
  .wrapper_loadMore{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 20px;

	.loadMore{
	  font-size: 18px;
	  max-width: 170px;
	  width: 100%;
	  padding: 10px 24px;
	  height: 40px;
	  line-height: 40px;
	  -webkit-transition-duration: .25s;
	  -o-transition-duration: .25s;
	  transition-duration: .25s;
	  -webkit-transition-timing-function: ease;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
	  -ms-flex-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	  border: none;
	  border-radius: var(--border-radius-m);
	  background: var(--beige-200);
	  &:hover{
		background: var(--beige-100);
	  }
	}
  }
}